<a href="https://colab.research.google.com/github/marissameadows0/BDI-475-Project/blob/main/BDI_475_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

I have picked the world happiness dataset simply because I thought it seemed interesting and I liked the variables they used to measure it, such as social support, life expectancy, freedom, and generosity.

Variable ranges:
Score- The scores are based on answers to the main life evaluation question asked in the poll. This question, known as the Cantril ladder, asks respondents to think of a ladder with the best possible life for them being a 10 and the worst possible life being a 0 and to rate their own current lives on that scale. Ranges from 2.9 to 7.63 in this dataset

GDP- ranges from 0 to 2.1

Social Support- ranges from 0 to 1.64

Healthy Life Expectancy- ranges from 0 to 1.03

Freedom to Make Life Choices- ranges from 0 to 0.72

Generosity- ranges from 0 to 0.6

The following columns: GDP per Capita, Family, Life Expectancy, Freedom, Generosity, Trust Government Corruption describe the extent to which these factors contribute in evaluating the happiness in each country.

Questions:
1. What are the top 20 countries that have the highest healthy life expectancy in 2019? in 2018?
2. Are the countries that have the highest social support scores also the countries that have the highest healthy life expectancy scores?
3. What are the 10 countries that have the highest perceptions of corruption?
4. What is the average perception of corruption in 2019 and in 2018?
5. How many countries have a score over 5 (the middle score a country can have)? How many more or less are there from 2018 to 2019?
6. Does the average scores across the board increase or decrease from year to year?

In [2]:
df=pd.read_csv('https://github.com/marissameadows0/BDI-475-Project/raw/main/2018.csv')

In [3]:
df

     Overall rank  ... Perceptions of corruption
0               1  ...                     0.393
1               2  ...                     0.340
2               3  ...                     0.408
3               4  ...                     0.138
4               5  ...                     0.357
..            ...  ...                       ...
151           152  ...                     0.064
152           153  ...                     0.097
153           154  ...                     0.106
154           155  ...                     0.038
155           156  ...                     0.076

[156 rows x 9 columns]

In [4]:
df2=pd.read_csv('https://github.com/marissameadows0/BDI-475-Project/raw/main/2019.csv')

In [5]:
df2

     Overall rank  ... Perceptions of corruption
0               1  ...                     0.393
1               2  ...                     0.410
2               3  ...                     0.341
3               4  ...                     0.118
4               5  ...                     0.298
..            ...  ...                       ...
151           152  ...                     0.411
152           153  ...                     0.147
153           154  ...                     0.025
154           155  ...                     0.035
155           156  ...                     0.091

[156 rows x 9 columns]

In [6]:
num_rows= df.shape[0]
num_cols=df.shape[1]

In [7]:
num_rows

156

In [8]:
num_cols

9

In [9]:
num_rows2= df2.shape[0]
num_cols2=df2.shape[1]

In [10]:
num_rows2

156

In [11]:
num_cols2

9

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [14]:
df.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.202                      0.393
1             2            Norway  ...       0.286                      0.340
2             3           Denmark  ...       0.284                      0.408
3             4           Iceland  ...       0.353                      0.138
4             5       Switzerland  ...       0.256                      0.357

[5 rows x 9 columns]

In [15]:
df2.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.153                      0.393
1             2           Denmark  ...       0.252                      0.410
2             3            Norway  ...       0.271                      0.341
3             4           Iceland  ...       0.354                      0.118
4             5       Netherlands  ...       0.322                      0.298

[5 rows x 9 columns]

In [16]:
df.tail()

     Overall rank  ... Perceptions of corruption
151           152  ...                     0.064
152           153  ...                     0.097
153           154  ...                     0.106
154           155  ...                     0.038
155           156  ...                     0.076

[5 rows x 9 columns]

In [17]:
df2.tail()

     Overall rank  ... Perceptions of corruption
151           152  ...                     0.411
152           153  ...                     0.147
153           154  ...                     0.025
154           155  ...                     0.035
155           156  ...                     0.091

[5 rows x 9 columns]

In [18]:
df.sample(8)

     Overall rank    Country or region  ...  Generosity  Perceptions of corruption
34             35             Malaysia  ...       0.311                      0.059
121           122                Egypt  ...       0.092                      0.107
10             11       United Kingdom  ...       0.262                      0.082
128           129              Armenia  ...       0.077                      0.028
43             44           Uzbekistan  ...       0.328                      0.259
117           118                 Mali  ...       0.139                      0.056
113           114  Congo (Brazzaville)  ...       0.091                      0.077
37             38    Trinidad & Tobago  ...       0.171                      0.019

[8 rows x 9 columns]

In [19]:
df.sort_values("Perceptions of corruption").head(10)
#these are the countries from 2018 that have the highest perceptions of corruption

     Overall rank  ... Perceptions of corruption
92             93  ...                     0.000
66             67  ...                     0.000
51             52  ...                     0.001
49             50  ...                     0.006
99            100  ...                     0.009
137           138  ...                     0.011
38             39  ...                     0.014
76             77  ...                     0.017
95             96  ...                     0.018
37             38  ...                     0.019

[10 rows x 9 columns]

In [20]:
df2.sort_values("Perceptions of corruption").head(10)
#these are the top 10 countries from 2019 that have the highest levels of corruption

     Overall rank  ... Perceptions of corruption
70             71  ...                     0.000
96             97  ...                     0.004
47             48  ...                     0.005
45             46  ...                     0.006
77             78  ...                     0.006
132           133  ...                     0.010
37             38  ...                     0.014
38             39  ...                     0.016
61             62  ...                     0.020
74             75  ...                     0.022

[10 rows x 9 columns]

In [21]:
df.sort_values('Social support').tail(10)

    Overall rank Country or region  ...  Generosity  Perceptions of corruption
4              5       Switzerland  ...       0.256                      0.357
18            19            Israel  ...       0.354                      0.272
9             10         Australia  ...       0.361                      0.302
1              2            Norway  ...       0.286                      0.340
13            14           Ireland  ...       0.307                      0.306
43            44        Uzbekistan  ...       0.328                      0.259
2              3           Denmark  ...       0.284                      0.408
0              1           Finland  ...       0.202                      0.393
7              8       New Zealand  ...       0.365                      0.389
3              4           Iceland  ...       0.353                      0.138

[10 rows x 9 columns]

In [22]:
df.sort_values('Healthy life expectancy').tail(10)

    Overall rank Country or region  ...  Generosity  Perceptions of corruption
9             10         Australia  ...       0.361                      0.302
8              9            Sweden  ...       0.285                      0.383
3              4           Iceland  ...       0.353                      0.138
4              5       Switzerland  ...       0.256                      0.357
46            47             Italy  ...       0.137                      0.028
56            57       South Korea  ...       0.175                      0.051
35            36             Spain  ...       0.142                      0.074
53            54             Japan  ...       0.079                      0.150
33            34         Singapore  ...       0.261                      0.457
75            76         Hong Kong  ...       0.246                      0.291

[10 rows x 9 columns]

In [23]:
df_support_life_expectancy = df[(df['Social support']>= 1.549) & (df['Healthy life expectancy']>= 0.910)]
df_support_life_expectancy

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
3             4           Iceland  ...       0.353                      0.138
4             5       Switzerland  ...       0.256                      0.357
9            10         Australia  ...       0.361                      0.302

[3 rows x 9 columns]